.layout {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;;
    font-weight: 400;
    font-style: normal;
    color: #666;
    line-height: 18px;
    padding: 0 25px;

    .header {
        font-size: 16px;
        height: 39px;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 15px;
    }

    .body {
        flex: 1;
        // padding: 20px 40px 0 30px;
    }

    .footer {
        > *:nth-child(1) {
            // height: 50px;
            // text-align: right;
            // padding: 5px 40px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // height: 64px;
            margin-top: 24px;
        }
    }
}