.app-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #737373;
    color: #ffffff;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        line-height: 32px;
        font-size: 14px;
        font-weight: bolder;
        // padding-left: 10px;

        .icon {
            display: inline-block;
            height: 32px;
            width: 32px;
            padding: 0;
            background-repeat: no-repeat;
            background-image: url('../../assets/icon.png');
        }
    }

    .btns {
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        i {
            cursor: pointer;
            -webkit-app-region: no-drag;
        }
    }
}